.mainMenu {
    background-image: url("./image/fon.jpg");
    background-size: cover;
    min-height: 100vh;
    min-width: 100vw;
    filter: blur(0);
    background-size: 100% 100%;
    
  }
  
  .photo-button {
    position: absolute;
    top: 25px;
    left: 25px;
    background-image: url("./image/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 20%;
    height: 20%;
    transition: width 0.3s, height 0.3s;
    background-color: transparent;
    border: none; 
  }
  
  .button1 {
    display: flex;
    width: 41.2vw;
    height: 18.2vh;
    align-items: center;
    flex-shrink: 0;
    text-align: left;
    background-color: transparent;
    border: none;
    margin: 1% 1%;
    padding: 1% 1%;
    color: white;
    border-radius: 100%;
    cursor: pointer;
    position: relative;
    font-size: 5.3vw;
    transition: background-color 0.3s, transform 0.3s;
    align-self: flex-start;
    text-shadow: 1.8px 1.8px 0 rgb(0, 0, 0), -1.8px -1.8px 0 rgb(0, 0, 0), 1.8px -1.8px 0 rgb(0, 0, 0), -1.8px 1.8px 0 rgb(0, 0, 0);
    font-family: Playfair Display;
    flex-direction: column;
    transform: translateY(1%);
    right: 5%;
     bottom: -3vw;
  }
  .button1::before {
    content: "";
    position: absolute;
    top: 3.9vw;
    left: 11.6vw;
    transform: translate(-50%, -50%) rotate(45deg) scale(0.7);
    width: 1vw;
    height: 1vw;
    background-color: white;
    border: 2px solid black;
    transition: background-color 0.3s;
  }
  .button1:hover::before {
    background-color: rgb(0, 234, 255);
    transform: translate(-50%, -50%) rotate(45deg) scale(0.7);
  }
  .button1:hover {
    transform: translateY(0%) scale(1.1);
    color: rgb(0, 234, 255);
  }
  .button2{
    font-family: Playfair Display;
    display: flex;
   width: 46.3vw;
   height: 9.3vh;
   align-items: center;
   flex-shrink: 0;
   text-align: left;
   background-color: transparent;
   border: none;
   margin: 1% 1%;
   padding: 1% 1%;
   color: white;
   border-radius: 100%;
   cursor: pointer;
   position: relative;
   font-size: 3.8vw;
   transition: background-color 0.3s, transform 0.3s;
   align-self: flex-start;
   text-shadow: 1.8px 1.8px 0 rgb(0, 0, 0), -1.8px -1.8px 0 rgb(0, 0, 0), 1.8px -1.8px 0 rgb(0, 0, 0), -1.8px 1.8px 0 rgb(0, 0, 0);
   flex-direction: column;
   transform: translateY(-50%);
   right: 10.4%;
   bottom: -1vw;
  
  }
  .button2::before {
    content: "";
    position: absolute;
    top: 3.4vw;
    left: 17.1vw;
    transform: translate(-50%, -50%) rotate(45deg) scale(0.7);
    width: 1vw;
    height: 1vw;
    background-color: white;
    border: 2px solid black;
    transition: background-color 0.3s;
  }
  
  .button2:hover::before {
    background-color: rgb(0, 234, 255);
    transform: translate(-50%, -50%) rotate(45deg) scale(0.7);
  }
  .button2:hover {
    transform: translateY(-50%) scale(1.1);
    color: rgb(0, 234, 255);
  }
  
  .button3{
    font-family: Playfair Display;
    display: flex;
   width: 43.8vw;
   height: 9.3vh;
   align-items: center;
   flex-shrink: 0;
   text-align: left;
   background-color: transparent;
   border: none;
   margin: 1% 1%;
   padding: 1% 1%;
   color: white;
   border-radius: 100%;
   cursor: pointer;
   position: relative;
   font-size: 3.8vw;
   transition: background-color 0.3s, transform 0.3s;
   align-self: flex-start;
   text-shadow: 1.8px 1.8px 0 rgb(0, 0, 0), -1.8px -1.8px 0 rgb(0, 0, 0), 1.8px -1.8px 0 rgb(0, 0, 0), -1.8px 1.8px 0 rgb(0, 0, 0);
   flex-direction: column;
   transform: translateY(-50%);
   right: 4.8vw;
  } 
  .button3::before {
    content: "";
    position: absolute;
    top: 3.3vw;
    left: 11.6vw;
    transform: translate(-50%, -50%) rotate(45deg) scale(0.7);
    width: 1vw;
    height: 1vw;
    background-color: white;
    border: 2px solid black;
    transition: background-color 0.3s;
  }
  .button3:hover::before {
    background-color: rgb(0, 234, 255);
    transform: translate(-50%, -50%) rotate(45deg) scale(0.7);
  }
  .button3:hover {
    transform: translateY(-50%) scale(1.1);
    color: rgb(0, 234, 255);
  }
  
  .buttons-container {
    display: flex;
    flex-direction: column;
    transform: translateY(48%);
    bottom: 100%;
  } 
  
  .new-profile-button {
    position: fixed;
    bottom: -1%;
    right: 4%;
    transform: translate(-50%, -50%);
    background-image: url("./image/profile2.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 4.6vw;
    height: 4.6vh;
    text-align: center;
    background-color: transparent;
    border: none;
    z-index: 1;
    cursor: pointer;
  
  }
  
  .new-profile-button::before,
  .new-profile-button::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translate(-50%, -50%);
    width: 1.1vw;
    height: 0.5vh;
    background-color: white;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .new-profile-button::before {
    transform: translate(-50%, -50%) rotate(90deg) scale(1);
  }
  
  .new-profile-button:hover::before,
  .new-profile-button:hover::after {
    background-color: rgb(0, 234, 255);
  }
  
  
  .new-profile-button:hover {
    
    transform: translate(-50%, -50%) scale(1.2);
  }
  
  .profile-panel {
    position: fixed;
    top: 0;
    right: 0;
    width: 16.3vw;
    height: 100%;
    flex-shrink: 0;
    background: rgba(4, 4, 4, 0.69);
  }
  .profile-panel.open {
    display: block;
  }
  .profile-panel::before,
  .profile-panel::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.5%;
    background-color: white;
  }
  .profile-panel::before {
    top: 8%;
    left: 0;
    right: 0;
  }
  .profile-panel::after {
    top: 92%;
    left: 0;
    right: 0;
  }
  
  .text-button{
      position: absolute;
      font-family: Playfair Display;
      border: none;
      background-color: transparent;
      flex-shrink: 0;
      color: #FFF;
      bottom: 43.8vw;
      right: 0;
      font-size: 1.6vw;
      text-align: center;
      transform: translateX(-50%);
      left: 9vw;
      text-shadow: 1px 1px 0 rgb(0, 0, 0), -1px -1px 0 rgb(0, 0, 0), 1px -1px 0 rgb(0, 0, 0), -1px 1px 0 rgb(0, 0, 0);  
      display: flex;
      transition: background-color 0.3s, transform 0.3s;
      cursor: pointer;
      align-self: flex-start;
   
  }
  @media (max-width: 1008px) {
    .text-button {
      position: absolute;
      font-family: Playfair Display;
      border: none;
      background-color: transparent;
      flex-shrink: 0;
      color: #FFF;
      bottom: 20.8vw;
      right: 0;
      font-size: 1.6vw;
      text-align: center;
      transform: translateX(-50%);
      left: 80vw;
      text-shadow: 1px 1px 0 rgb(0, 0, 0), -1px -1px 0 rgb(0, 0, 0), 1px -1px 0 rgb(0, 0, 0), -1px 1px 0 rgb(0, 0, 0);  
      display: flex;
      transition: background-color 0.3s, transform 0.3s;
      cursor: pointer;
      align-self: flex-start;
    }
  }
  
  
  
  
  