.listItems {
    justify-content: space-around;
    width: 2vw;
    height: 2vw;
    margin: 8vw;
    position: absolute;
    left: 10vw;
    top: -4vh;
}

.product {
    display: flex;
    align-items: flex-start;
    text-align: left;
    font-family: "Piedra-Regular", sans-serif;
    font-size: 25px;
    position: relative;
    width: 493px;
    height: 34px;
    margin-left: -15vw;
    margin-top: 3ch;
}

.imageItem {
    width: 3vw;
    border-radius: 8px;
}

.product-details {
    flex-direction: column;
    margin-left: 10px;
    overflow: hidden;
    width: 32vw;
    margin-top: -1ch;
    size: 20px;
}

.description {
    font-size: 14px;
    margin-bottom: 5px;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.name {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 5px;
    color: yellow;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    width: 5vw;
}

.buyItemButton {
    align-self: flex-start;
    margin-top: 5px;
    margin-right: 0.5vw;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.buyItemButton:hover {
    background-color: red;
}

.inventory {
    margin-top: 6ch;
}
